@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      background-color: #7A7676;
}

header {
      width: 100%;
      height: 100vh;
      background: url(hero7.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.fotos {
      border: 3px solid black;
      width: 98%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.content {
      width: 94%;
      background-color: white;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.logo a {
      text-decoration: none;
      color: #fff;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

nav ul li:nth-child(1){
      border-top: 3px solid red;
}


nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

footer {
  padding: 20px;
  border-top: 3px solid black;
  background-color: white;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      nav ul li:hover {
        background-color: #09A5E8;
      }

      .menu-icon {
            display: block;
      }
      
        fotos {
        position: center;
      }

}

h1 {
  padding-left: 1%;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

footer a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
footer a:hover, footer a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1C1D21
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  color:#868F9B;
}
